<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Contact Kyle</title>
	<link rel="stylesheet" href="/contact.css">
</head>
<body>

<center><h1>Hello Contact Info World</h1>
	<h2>Form to contact or just email or both? Place other relevant contact info here</h2>
	<h3><a href="/">Back</a></h3></center>
</body>
</html>