<!DOCTYPE html>
<html>
<a name="top"></a>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name=viewport content="width=700">
	<title>Kyle Stengline</title>
	<link rel="favicon" href="/img/boat_sailing.png">
	<link rel="stylesheet" href="/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Josefin+Slab:600' rel='stylesheet' type='text/css'>
	<script src="/javascripts/jquery-2.2.2.min.js"></script>
</head>
<body>
	<div class="loading"></div>
	<center>

		<h1 class="name">Kyle Stengline</h1>
			<img id="me" src="/img/profile_image.jpg" alt="profile pic" height="230" width="230">
		<div id="about">
			<h3 class="bio">
				Hey! Thanks for visiting. I'm a Full Stack Web Developer who is learning <a id="bio" href="https://www.youtube.com/watch?v=7eZ0Rn1JG9o" target="_blank"><em>Kung Fu</em></a> and plays <a id="bio" href="https://www.youtube.com/watch?v=j3KxfMq_jjI" target="_blank"><em>guitar</em></a>. I love developing and designing full-stack web applications from the ground up. To me, one of the most rewarding feelings is to see an app transform from lines on a text editor to something the world can see. I know a variety of coding languages and I can build super cool web apps. I'd love to meet or talk, so get in touch. 

				<br/> <br/>
				<a id="skills" href="#skills">Skills</a><a id="my_projects" href="#projects">Portfolio</a><a id="contact_me" href="#Contact">Contact</a>

			</h3>


		</div>
		</center>

		<center>
			<a name="skills"></a>
			<div id="languages">
				<p class="skills">Skills</p>

					<p class="client">HTML | CSS | JavaScript | jQuery | Bootstrap</p>
				
					<p class="server"><br/> Ruby on Rails | AJAX | PostgreSQL | MySQL | Sinatra | RSpec | Git</p>
				

				<br/> <br/>
				<a id="my_projects_two" href="#projects">Check the Portfolio</a>
			
			</div>
		</center>

	<center>
		<a name="projects"></a>
		<div id="projects">
		<h4 class="projects">Portfolio</h4>
			<div id="one">
				<!-- <h4>Simon</h4><p>Pass time and check your memory skills with Simon 2.0.</p><em><a class="project" href="http://kylestengline.github.io/" target="_blank">Play It!</a><p><a class="the_code" href="https://github.com/kylestengline/kylestengline.github.io" target="_blank">The Code</a></em></p> --><img id="simon" src="/img/simon.png" alt="simon" height="250" width="250">
				<!-- <h4>Simon</h4> --><p>Pass time and check your memory skills with Simon 2.0.</p><em><a class="project" href="http://kylestengline.github.io/" target="_blank">Play It!</a><p><a class="the_code" href="https://github.com/kylestengline/kylestengline.github.io" target="_blank">The Code</a></em></p>
			</div>


			<div id="two">
				<!-- <h4>Admissions Tracker</h4><p>Co-developed an admissions tracker that tracks aspiring students during the application process.</p><em><a class="project" href="http://admissions-portal.herokuapp.com/" target="_blank">Track It!</a><p><a class="the_code" href="https://github.com/kylestengline/admissions-tracker" target="_blank">The Code</a></em></p> -->
				<img id="admintracker" src="/img/admintracker.png" alt="admintracker" height="200" width="300">
				<!-- <h4>Admissions Tracker</h4> --><p>Co-developed an admissions tracker that tracks aspiring students during the application process.</p><em><a class="project" href="http://admissions-portal.herokuapp.com/" target="_blank">Track It!</a><p><a class="the_code" href="https://github.com/kylestengline/admissions-tracker" target="_blank">The Code</a></em></p>
			</div>

			<div id="three">
				<!-- <h4>Motivate</h4><p>Get inspired with this motivational app and power through those long days.</p><em><a class="project" href="https://motivates.herokuapp.com/" target="_blank">Get Motivated!</a><p><a class="the_code" href="https://github.com/kylestengline/motivate" target="_blank">The Code</a></em></p> --><img id="motivate" src="/img/motivate.png" alt="motivate" height="200" width="300"><!-- <h4>Motivate</h4> --><p>Get inspired with this motivational app and power through those long days.</p><em><a class="project" href="https://motivates.herokuapp.com/" target="_blank">Get Motivated!</a><p><a class="the_code" href="https://github.com/kylestengline/motivate" target="_blank">The Code</a></em></p>
			</div>
		</div>
	</center>
	
	<center>
		<h4><a id="contact" href="#Contact">Get in Touch</a></h4> 
	</center>

	<center>
		<img id="contact_back" src="/img/pacific_ca.jpg" alt="background pic" height="200px" width="400px">
	</center>
	<!-- for solar system idea 03/22/16
		<!-- <div>
			<div id="ball_one"></div>
			<div id="ball_two"></div>
			<div id="ball_three"></div>
			<div id="ball_four"></div>
		</div> -->


		<footer>
			<center>
				<div id="contact">
					<p class="contact">Contact Me<br/>
						<a class="email" href="mailto:kyle.stengline@gmail.com"><img class="email" src="/img/email_link.png" alt="email pic" height="50px" width="50px"></a>
						<a class="github" href="https://github.com/kylestengline" target="_blank"><img class="github" src="/img/github_link.png" alt="email pic" height="55px" width="55px"></a>
						<a class="linkedin" href="https://www.linkedin.com/in/kylestengline" target="_blank"><img class="linkedin" src="/img/linkedin_link.png" alt="email pic" height="55px" width="55px"></a> <!-- | do I add instagram? -->
						<!-- <a class="instagram" href="https://www.instagram.com/kylestengline/" target="_blank">Instagram</a> -->
					</p>
					</a>
				</div>
			</center>	
		</footer>
			<a class="contact" name="Contact"></a>
			<center>
				<p><a id="back_to_top" href="#top">Beam Me Up, Scotty!<br/>(Back to Top)</a></p>
			</center>
</body>
</html>

<script type="text/javascript" src="/javascripts/script.js"></script>










