<!DOCTYPE html>
<html>
<a name="top"></a>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name=viewport content="width=700">
	<title>Kyle Stengline</title>
	<link rel="stylesheet" href="/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Josefin+Slab:600' rel='stylesheet' type='text/css'>
	<script src="/javascripts/jquery-2.2.2.min.js"></script>
</head>
<body>
	<center>

		<h1 class="name">Kyle Stengline</h1>
			<img src="/img/profile_image.jpg" alt="profile pic" height="230" width="230">
		<div id="about">
			<h3>
				Hey! Thanks for visiting. I'm a Full-Stack Web Developer who is learning <a id="bio" href="https://www.youtube.com/watch?v=7eZ0Rn1JG9o" target="_blank"><em>Kung Fu</em></a> and plays <a id="bio" href="https://www.youtube.com/watch?v=j3KxfMq_jjI" target="_blank"><em>guitar</em></a>. I love developing and designing full-stack web applications from the ground up. To me, one of the most rewarding feelings is to see an app transform from lines on a text editor to something the world can see. I know a lot of different coding <a id="skills" href="#skills"><em>languages</em></a> and I can build super cool <a id="my_projects" href="#projects"><em>web apps</em></a>. I'd love to meet or talk, so <a id="contact_me" href="#Contact"><em>get in touch</em></a>.
			</h3>


		</div>
		</center>

		<center>
			<div id="languages">
			<a name="skills"></a>
			<p class="skills">
				Skills<br/>
				HTML, CSS, Ruby on Rails, JavaScript, jQuery,<br/>
				AJAX, PostgreSQL, MySQL, Sinatra, RSpec, Git,<br/> 
				Bootstrap <br/> <br/>
				<a id="my_projects_two" href="#projects">View My Projects</a>
			</p>
			</div>
		</center>

	<center>
		<a name="projects"></a>
		<div id="projects">
		<h4 class="projects">Projects</h4>
			<div id="one">
				<h4>Simon</h4><p>Pass time and check your<br/> memory skills with Simon 2.0.</p><em><a class="project" href="http://kylestengline.github.io/" target="_blank">Play It!</a><p><a class="the_code" href="https://github.com/kylestengline/kylestengline.github.io" target="_blank">The Code</a></em></p>
			</div>

			<div id="two">
				<h4>Admissions Tracker</h4><p>Co-developed an admissions tracker that tracks aspiring<br/> students during the application process.</p><em><a class="project" href="http://admissions-portal.herokuapp.com/" target="_blank">Track it!</a><p><a class="the_code" href="https://github.com/kylestengline/admissions-tracker/tree/master/academik_portal" target="_blank">The Code</a></em></p>
			</div>

			<div id="three">
				<h4>Motivate</h4><p>A motivational app to get motivated.</p><em><a class="project" href="https://motivates.herokuapp.com/" target="_blank">Get Motivated!</a><p><a class="the_code" href="https://github.com/kylestengline/motivate" target="_blank">The Code</a></em></p>
			</div>
		</div>
		</a>

		<center>
			<h4><a id="contact" href="#Contact">Get in Touch</a></h4> 
		</center>
	</center>

	<center>
		<img id="contact_back" src="/img/pacific_ca.jpg" alt="background pic" height="200px" width="400px">
	</center>
	<!-- for solar system idea 03/22/16 -->
		<!-- <div>
			<div id="ball_one"></div>
			<div id="ball_two"></div>
			<div id="ball_three"></div>
			<div id="ball_four"></div>
		</div> -->


		<footer>
			<center>
				<div id="contact">
					<p class="contact">Contact Me<br/>
						<a class="email" href="mailto:kyle.stengline@gmail.com" target="_blank">Email Me</a> |
						<a class="github" href="https://github.com/kylestengline" target="_blank">GitHub</a> |
						<a class="linkedin" href="https://www.linkedin.com/in/kylestengline" target="_blank">LinkedIn</a> <!-- | -->
						<!-- <a class="instagram" href="https://www.instagram.com/kylestengline/" target="_blank">Instagram</a> -->
					</p>
					</a>
				</div>

			</center>	
		</footer>
			<a class="contact" name="Contact"></a>
			<center>
				<p><a id="back_to_top" href="#top">Beam Me Up Scotty!</a></p>
			</center>
</body>
</html>

<script type="text/javascript" src="/javascripts/script.js"></script>










