<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name=viewport content="width=356">
	<title>Kyle Stengline</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>

	<center>
		<h1 class="name">Kyle Stengline</h1>
				
			<div id="about">
				<h3>
					Hi, Hola, and привет! I'm a Full-Stack Web Developer. I'm also learning <a href="https://www.youtube.com/watch?v=7eZ0Rn1JG9o" target="_blank"><em>Kung Fu</em></a> and I play <a href="https://www.youtube.com/watch?v=j3KxfMq_jjI" target="_blank"><em>guitar</em></a> and juggle too. I love developing and designing web applications. After learning a lot of different languages and developing different <a href="https://github.com/kylestengline" target="_blank"><em>projects</em></a>, I can say with confidence, Rails is awesome.
				</h3>

		</div>
		</center>

		<div id="projects">
			<center><table>
				<colgroup>
					<col span="3">
				</colgroup>
				<tr>
				<!-- divs aren't showing up -->
					<div id="project_one"><th>Simon</th></div>
					<div id="project_two"><th>Admissions Tracker</th></div>
					<div id="project_three"><th>Motivate</th></div>
				</tr>
				<tr>
					<div id="project_one"><td><a href="http://kylestengline.github.io/">Play It!</a></td></div>
					<div id="project_two"><td><a href="http://admissions-portal.herokuapp.com/">Track it!</a></td></div>
					<div id="project_three"><td><a href="https://motivates.herokuapp.com/">Get Motivated!</a></td></div>
				</tr>
			</table></center>


		</div>

</body>
<footer>
	<center><h4><a href="/contact">Contact</a></h4></center>
</footer>
</html>