/*iPhone 6*/
@media screen and (max-width: 800px) {

  .welcome_to, html {
    height: 2000px;
    background: #002366;
    text-align: center;
  }

  div.welcome_to {
    margin-top: 150px;
  }

  h2#hi, h2#kyle, h2#bid_welcome, h2#developer {
    font-size: 65px;
    margin-top: 100px;
    text-decoration: none;
  }

  h4.skills {
    font-size: 45px;
    line-height: 2em;
    position: absolute;
    left: 33.7%;
    margin-top: -100px;
  }

  .experience {
    margin-top: 40px;
    margin-bottom: 45px;
    font-size: 40px;
    padding-right: 35px;
    padding-left: 35px;
    font-weight: 100;
    word-spacing: 5px;
    text-indent: 10px;
  }

  img#scripts, #dogseekers, #themiddle {
    border-radius: 1%;
    border: none;
    height: 40%;
    width: 75%;
    margin-top: 12%;
  }

	.container {
		overflow: hidden;
		padding-left: 20px;
	}

	div#languages {
    background: white;
    padding-top: 200px;
    margin-top: 100px;
    height: 4825px;
	}

	div#about {
		padding-right: 20px;
  	padding-left: 20px;
	}

	h1.name {
		margin-top: 10px;
		font-size: 60px;
	}

	h3 {
		font-size: 38px;
		line-height: 1.2em;
	}

	h4 {
		font-size: 45px;
		padding: 10px;
	}

	h4.projects {
   margin-bottom: -20px;
	 margin-top: 300px;
	 font-size: 45px;
	}

	img {
		max-width: 100%;
		margin-right: 20px;
	}

	img#contact_back {
		border-radius: 0%;
		max-width: 100%;
		border: 2px solid black;
		margin-top: 600px;
		margin-bottom: 200px;
		margin-right: 135px;
		margin-left: 140px;
	}

	img.email-img, img.twitter-img {
		height: 140px;
		width: 140px;
	}

	img.github-img, .linkedin-img {
		height: 150px;
		width: 150px;
	}

	p {
		font-size: 35px;
		font-weight: 100;
		line-height: 1.2em;
    padding: 20px;
	}

	p.contact {
		font-size: 45px;
	}

  p#to_top {
    margin-bottom: 20px;
    margin-top: -20px;
    margin-right: 10px;
  }

	a#contact {
		margin: 0 auto;
    font-size: 45px;
	}

	a#contact_me, #my_projects, #skills {
		padding: 6.5px;
  }

	a.project, .the_code {
		font-size: 38px;
	}

  a#back_to_top {
    font-size: 40px;
  }

  .wrapping:hover .hover-text {
    opacity: 0;
  }
}

@media screen and (max-width: 1100px) {
	div#languages {
		background: white;
    padding-top: 200px;
    margin-top: 100px;
    height: 5000px;
	}
}
