html { 
  background: #002366;
}

body {
  width: 12000px;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
}

/*.hidden {
  display: none;
}

.welcome_to {
  height: 2000px;
  background:  rgba(0, 0, 0, 0.01);
  float: left;
  margin-left: 400px;
}

#hi, #kyle, #bid_welcome, #developer {
  font-size: 50px;
  margin-top: 65px;
  text-decoration: none;
}*/

/* FONTS */
h1, h2, h3, h4, h5, 
a, p {
	font-family: 'Comfortaa', 'Quicksand', Roboto, sans-serif, Helvetica;
}

h1, h2, h3 {
	font-weight: 100;
	font-size: 22px;
	color: white;
	padding: 5px;
	line-height: 1.2em;
}

h1.name {
	font-size: 55px;
	margin-top: 35px;
	color: white;
	animation-duration: 2s;
	animation-name: slideInSmooth;
}

#about_section {
  margin: 0px;
  bottom: 0px;
  width: 1425px;
  float: left;
}

.container {
	overflow: hidden;
}

.bio {
  line-height: 1.5em;
}

h4 {
	font-weight: 500;
	font-size: 20px;
	padding: 10px;
	font-weight: 100;
}

h4.projects {
	color: white;
	font-size: 35px;
	margin-top: 350px;
  margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: #e1b941;
	font-weight: 100;	
	-webkit-transition: all 1s;
	animation: fadein 5s;
}

a:hover {
	-webkit-transition: all 1s;
	color: #41b9e1;
	cursor: pointer;
}

#my_projects {
  text-decoration: underline;
  padding-right: 15px;
}

a.project {
	font-size: 20px;
	color: rgb(47, 254, 238);
}

a.project:hover {
	-webkit-transition: all 1s;
	color: #3B91E8;
}

a.email, .linkedin, .github {
	padding-top: 10px;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px; 
  text-decoration: underline;
}

div#about {
	padding-right: 200px;
  padding-left: 200px;
}

p {
	font-weight: 100;	
	font-size: 20px;
	padding: 10px;
}

p.contact {
	font-size: 25px;
  color: white;
}

/* Show Text on Hover */
#one, #two, #three {
  padding: 0 500px 0 500px;
  margin: 0px;
  bottom: 0px;
  width: 1425px;
  float: left;
}

.wrapping {
  display: inline;
}

#code {
  margin-top: -30px;
}

#code:hover {
  text-decoration: underline;
}

#the-code {
  margin-top: -20px;
}

#the-code:hover {
  text-decoration: underline;
}

.text-display a {
  color: black;
  font-size: 25px;
}

.text-display {
  font-size: 30px;
  color: black;
  font-weight: 100;
  padding-top: 40px;
  line-height: 1.5em;
  padding-left: 200px;
  padding-right: 200px;
}

div.hover-text {
  position: absolute;
  opacity: 0;
  top: 0%;
  height: 100.5%;
  width: 11.9%;
  bottom: 0%;
  background: rgba(64,185,225, 0.9);
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

.text-display, .hover-text, .wrapping {
  overflow: hidden;
}

#title-text {
  margin-bottom: -20px;
  margin-top: 10%;
}

.wrapping:hover .hover-text {
  opacity: 1;
  background: rgba(64,185,225, 0.9);
}

/* End Text on Hover */

h4.skills {
  line-height: 2em;
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.experience {
  font-size: 20px;
  padding-right: 125px;
  padding-left: 125px;
  word-spacing: 5px;
  text-indent: 10px;
  line-height: 1.5em;
}

img {
  border-radius: 50%;
	max-width: 100%;
	border: 3.2px solid white;
}

img#scripts {
  height: 765px;
}

#scripts, #dogseekers, #themiddle { 
  border-radius: 0%;
  border: none;
  height: 100%;
  width: 100%;
  display: inline-block;
}

@keyframes slideInSmooth {
	from {
		margin-left: 100%;
		width: 300%;
	}

	to {
		margin-left: 0%;
		width: 90%;
	}
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1;	}
}
