body {
	background-color: #444;
}

h1, h2, h3 {
	font-family: 'Josefin Slab', serif, sans-serif, Helvetica;
	font-size: 35px;
	color: white;
	padding: 10px;
}

h1.name {
	font-size: 65px;
	animation: fadein 4s;
	margin-top: 10px;
}

h4 {
	font-family: 'Josefin Slab', serif, sans-serif, Helvetica;
	font-size: 25px;
	padding: 10px;
}

h4.projects {
	color: white;
	margin-bottom: 10px;
	margin-left: -10px;
	margin-top: 100px;

}

h5.contact {
	font-family: 'Josefin Slab', serif, sans-serif, Helvetica;
	color: white;
	font-size: 25px;
}

a {
	text-decoration: none;
	color: black;
	font-family: 'Josefin Slab', serif, sans-serif, Helvetica;
}

a#contact {
	color: white;
	text-decoration: none;
	float: left;
	clear: both;
	color: #3399ff;
	margin-left: 535px;
}

a#bio {
	text-decoration: none;
	color: #3399ff;
	animation: fadein 10s;
}

a.project {
	font-size: 25px;
}

div#about {
	padding-right: 50px;
	padding-left: 50px;
	padding-bottom: 150px;
}

div#contact {
	background-color: white;
	margin-top: 1000px;
}

#one, #two, #three {
	float: left;
	line-height: 1.5em;
  width: 25%;
  height: 400px;
  background-color: white;
  margin-left: 75px;
  margin-bottom: 70px;
  text-align: center;
  display: inline-block;
  border-radius: 10%;
}

p {
	font-family: 'Josefin Slab', serif, sans-serif, Helvetica;
	font-size: 25px;
	padding: 10px;
}

p.contact {
	/*color: white;*/
	font-size: 25px;
	margin-top: 700px;
}

a.email, a.linkedin, a.github {
	/*color: white;*/
	padding-top: 20px;
	display: inline-block; 
}

a#back_to_top {
	color: #3399ff;
}

.skills {
	font-size: 30px;
	padding-bottom: 200px;
	padding-top: 200px;
	background-color: white;
}

img {
	border-radius: 50%;
	max-width: 100%;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1;	}
}


/*###################################################*/
/*MEDIA QUERIES!!!!!*/
/*###################################################*/

/*iPhone 5*/
@media screen and (max-width: 700px) {

	#one, #two, #three {
		line-height: 1.5em;
    width: 70%;
    height: 690px;
    background-color: white;
    margin-bottom: 70px;
    text-align: center;
    border-radius: 10%;
    margin-left: 105px;
	}

	h1.name {
		margin-top: 65px;
	}

	h3 {
		font-size: 43px;
	}

	h4 {
		font-size: 50px;
		padding: 10px;
	}

	h4.projects {
	 color: white;
	 margin-bottom: 20px;
	 margin-top: 460px;
	 font-size: 50px;
	}

	img {
		max-width: 100%;
		margin-right: 20px;
	}

	p {
		font-size: 43px;
		line-height: 1.2em;
		padding: 20px;
	}

	p.contact {
		font-size: 50px;
	}

	a#contact {
		margin-left: 200px;
    font-size: 50px;
	}

	a.project {
		font-size: 43px;
	}

	div#contact {
		margin-top: 3200px;
	}

	div#languages {
		margin-top: 
	}

	.skills {
		font-size: 40px;
		padding-bottom: 200px;
		padding-top: 200px;
		background-color: #444;
		color: white;
		line-height: 1.3em;
		padding-right: 25px;
		margin-top: 240px;
	}
}


/*iPhone 6*/
@media screen and (max-width: 800px) {

	#one, #two, #three {
		line-height: 1.5em;
    width: 70%;
    height: 690px;
    background-color: white;
    margin-bottom: 70px;
    text-align: center;
    border-radius: 10%;
    margin-left: 105px;
	}

	h1.name {
		margin-top: 65px;
	}

	h3 {
		font-size: 43px;
	}

	h4 {
		font-size: 50px;
		padding: 10px;
	}

	h4.projects {
	 color: white;
	 margin-bottom: 20px;
	 margin-top: 460px;
	 font-size: 50px;
	}

	img {
		max-width: 100%;
		margin-right: 20px;
	}

	p {
		font-size: 43px;
		line-height: 1.2em;
		padding: 20px;
	}

	p.contact {
		font-size: 50px;
	}

	a#contact {
		margin-left: 200px;
    font-size: 50px;
	}

	a.project {
		font-size: 43px;
	}

	div#contact {
		margin-top: 3200px;
	}

	div#languages {
		margin-top: 
	}

	.skills {
		font-size: 40px;
		padding-bottom: 200px;
		padding-top: 200px;
		background-color: #444;
		color: white;
		line-height: 1.3em;
		padding-right: 25px;
		margin-top: 240px;
	}
}










